<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Moving Walls</a>
    </div>
    <ul class="nav navbar-nav" routerLinkActive="active" >
      <li class="nav-item" ><a class="nav-link" routerLink="home">Campaigns</a></li>
      <li *ngIf="!info.token" class="nav-item">
        <a class="nav-link" routerLink="auth/login">Login</a>
      </li>
      <li *ngIf="info.token"><a class="nav-link" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<div> 
  
  <router-outlet></router-outlet>
</div>
