<div *ngIf="info.token; else loggedOut">
    <img src="assets/images/background1.jfif" height="250px" width="100%">
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">

        <ol style="font-size: large;">Analyze</ol>
        <br>
        <ol><a href="/home">Select Campaign</a></ol>
        <ol>Campaign Details</ol>
        <ol>Performance Summary</ol>
        <ol>Sites</ol>
        <ol>Audience</ol>
        <ol>Time</ol>
        <ol>Attribution</ol>
        <ol>Ads</ol>
        <br>
        <ol>
            <p-button type="button" (click)="visibleSidebar1 = false" label="Get Custom Report"
                styleClass="p-button-secondary">
            </p-button>
        </ol>
    </p-sidebar>

    <p-button type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></p-button>
    <p-table #DTcampaigns  [(selection)]="selectedCampaigns" (onRowSelect)="onRowSelect($event)" [columns]="cols" [value]="campaignPage.campaignCustomList" [lazy]="true"
        [loading]="loading" scrollHeight="500px"  [paginator]="true" [rowsPerPageOptions]="[10,20,50,100]" [rows]="10"
        (onLazyLoad)="loadCampaignsTableLazy($event)" [totalRecords]="totalRecords">
        <ng-template pTemplate="caption">
            <div>
                <button type="button" pButton icon="pi pi-plus" (click)="showDialogToAdd()" style="float:right"
                    label="Add Campaign"></button>
            </div>
            <div style="text-align: left">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" [(ngModel)]="searchTerm"
                    (onChange)="getAllCampaignsBySearchTerm($event)" (input)="getAllCampaignsBySearchTerm($event)"
                    style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th></th>
                <th>
                    <span [ngSwitch]="'endDate'" style="text-align: center">
                        <p-multiSelect *ngSwitchCase="'endDate'" [options]="listEndDates" [style]="{'width':'75%'}"
                            appendTo="body" maxSelectedLabels="0" selectedItemsLabel="{0}"
                            defaultLabel="Filter by End Date"
                            (onChange)="DTcampaigns.filter($event.value, 'endDate', 'in')"></p-multiSelect>
                    </span>
                </th>
                <th>
                    <span [ngSwitch]="'status'" style="text-align: center">
                        <p-multiSelect *ngSwitchCase="'status'" [options]="listStatus" [style]="{'width':'75%'}"
                            appendTo="body" maxSelectedLabels="0" selectedItemsLabel="{0}"
                            defaultLabel="Filter by Status"
                            (onChange)="DTcampaigns.filter($event.value, 'status', 'in')"></p-multiSelect>
                    </span>

                </th>
                <th></th>
            </tr>
            <tr>
                <th *ngFor="let col of headercols" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon *ngIf="col.field== 'name' || col.field== 'status' " [field]="col.field"
                        ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order">
                    </p-sortIcon>
                </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of headercols" [style.width]="col.width">
            </colgroup>
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">

                    <div *ngIf="col.field == 'name' || col.field == 'status' "> {{rowData[col.field]}}</div>
                    <div *ngIf="col.field == 'startDate'"> {{rowData['startDate']}} - {{rowData['endDate']}}</div>
                    <div *ngIf="col.field =='daysCount' && rowData['status'] =='ONGOING'">
                        Ending in {{rowData[col.field]}} days
                    </div>
                    <div *ngIf="col.field =='daysCount' && rowData['status'] =='PROCESSING'">
                        Available in {{rowData[col.field]}} days
                    </div>
                    <div *ngIf="col.field =='daysCount' && rowData['status'] =='ARCHIVED'">
                        <button class="btn btn-info">Download Report</button>
                    </div>
                    <div *ngIf="col.field =='daysCount' && rowData['status'] =='PUBLISHED'">
                        <button class="btn btn-info">View Report</button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate=" summary">
            There are {{totalRecords}} result(s)
        </ng-template>
    </p-table>

    <br>
    <br>

    <p-dialog header="Campaign Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
        [style]="{width: '500px'}" blockScroll="true" positionTop="10" [closable]="true">
        <div class="ui-g ui-fluid" *ngIf="campaignDto">
            <div class="ui-g-4">
                <label for="name">Name</label>
            </div>
            <div class="ui-g-8">
                <input required [(ngModel)]="campaignDto.name" type="text" pInputText placeholder="Name">
            </div>
            <div class="ui-g-4">
                <label for="startDate">Start Date</label>
            </div>
            <div class="ui-g-8">
                <input required class="form-control" type="date" [(ngModel)]="campaignDto.startDate">
            </div>
            <div class="ui-g-4">
                <label for="startDate">End Date</label>
            </div>
            <div class="ui-g-8">
                <input required class="form-control" type="date" [(ngModel)]="campaignDto.endDate">
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <p-confirmDialog appendTo="body" [style]="{width: '425px'}"></p-confirmDialog>
                <button type="button" pButton icon="pi pi-times" (click)="confirmCancel()" label="Cancel"></button>
                <button type="button" pButton icon="pi pi-check" (click)="saveCampaign($event)" label="Save"></button>
                <p-messages appendTo="body" [(value)]="msgs"></p-messages>
            </div>
        </p-footer>
    </p-dialog>
</div>

<ng-template #loggedOut>
    Please login.
</ng-template>