<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as Admin!
</div>
<!-- <img src="assets/images/background.jpg" width="100%"> -->
<ng-template #loggedOut>
  <img src="assets/images/background3.jfif" width="100%" height="100%" id="rightImage">
  <div class="row col-sm-6" style="max-width:350px; margin-left: 230px; margin-top: 188px">
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label style="color: #2a8af8;display: block;padding: 10px;" for="username">Username</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel"
          required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label style="color: #2a8af8;display: block;padding: 10px;" for="password">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="form-group">
        <button style="padding: 10px;" class="btn btn-primary">Login</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>
      </div>
    </form>
    <hr />
    <!-- <p>Don't have an account?</p>
    <a href="signup" class="btn btn-success">Sign Up</a> -->
  </div>
</ng-template>